@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 15px;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    min-width: 280px;
    max-width: 550px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

section p {
    padding-bottom: 10px;
}

input[type=button] {
    font-size: 1em;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: grey;
    color: white;
    transition: 0.3s;
}

select#ilista {
    width: 150px;
}

div#analise p {
    padding-top: 10px;
    padding-bottom: 0px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 15px;
}
