@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 10px;
}

h1 {
    padding: 10px;
}

input[type=button] {
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: grey;
    color: white;
    transition: 0.3s;
}